/*------------------------------
1. TIPOGRAFIA DEL SITIO
--------------------------------*/
@font-face {
    font-family: "Comics Sans";
    src: url(../fonts/ComicSansMSBold.ttf);
}

@font-face {
    font-family: "AvantGardeStd";
    src: url(../fonts/ITCAvantGardeStd-Md.otf);
}

html {
    font-size: 14px;
    //scroll-behavior: smooth;
}

body {
    font-family: 'AvantGardeStd';
}

/*------------------------------
2. ESTILOS GENERALES
--------------------------------*/

/*===========Paleta de colores=========*/
$gris: #4D4D4D;
$cafe: #4D3C00;
$blanco:#fff;
$azul: #70DDE2;
$amarillo: #FFFF00;
$footer: #E4C500;
$menu: #FE6C5E;

section,
main,
footer {
    background-color: $azul;
    padding-top: 2rem;
}

.titulo {
    font-weight: 700;
    font-family: 'Comics Sans';
    color: $blanco;
    font-size: 1.7rem;
}

.resaltado {
    color: $gris;
    font-size: 2rem;
}

.resaltado-inicio {
    color: $gris;
    font-size: 1.75rem;
}


.subtitulo {
    color: $blanco;
    font-family: 'Comics Sans';
}

.centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido {
    max-width: 30%;
}


/*------------------------------
3. INICIO
--------------------------------*/
#inicio {
    .logo{
        margin-top: -2rem;
        margin-bottom: 0rem;
        width: 13rem;
    }

    /*Botón del menú*/
    .boton-menu:before {
        content: '\f142';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $blanco;
        font-size: 4rem;
    }

    .icono-cerrar:before {
        content: '\f00d';
        position: relative;
        font-size: 4rem;
    }

    /*Estilos al menú de navegación*/
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    .logodono {
        width: 11rem;
    }

    /*Redes sociales*/
    .redes {
        display: flex;
        justify-content: center;
    }

    .fab {
        color: $blanco;
        font-size: 2.3rem;
        padding: 0 .6rem;
        transition: all .5s ease;

        &:hover {
            transform: scale(1.2);
        }
    }

    .cuadro {
        margin-top: 4rem;
    }

    .fundacion {
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    .encabezado {
        color: $blanco;
    }

    .registro-enlace {
        color: $amarillo;
        align-self: start;
        margin-top: 2rem;
        font-weight: 500;
    }
}

/*Barra del menu de navegacion*/
.barra-navegacion{
    //background: linear-gradient(to right, rgba(250,0,179,1) 0%, rgba(250,3,177,1) 1%, rgba(241,111,91,1) 42%, rgba(254,187,0,1) 73%, rgba(104,192,133,1) 86%, rgba(0,183,189,1) 96%, rgba(0,183,189,1) 100%);
    background-color: #F900BF;
}
.transparente {
    background-color: transparent !important;
    transition: all .6s ease;
    /*&:hover{
        background-color: rgb(252,40,153) !important;
    }*/
}

.navbar-nav {
    text-align: center;
}

/*------------------------------
4. FOOTER
--------------------------------*/
footer {
    background-color: $footer;

    color: $cafe;
    
    .direccion {
        padding-top: 0;
    }

    .yodono {
        width: 14rem;
        margin-bottom: 1rem;
    }
    .politicas{
        color: $cafe;
        text-decoration: none;
    }

}

/*Redes sociales*/
.redes-footer {
    display: flex;
    justify-content: center;
}

.iconos {
    color: $cafe;
    font-size: 2.3rem;
    padding: 0 .6rem;
    transition: all .5s ease;

    &:hover {
        transform: scale(1.2);
    }
}

/*FORMULARIO DE CONTACTO*/
input[type="file"]#asociado,
input[type="file"]#fotoAsociado {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label[for="asociado"],
label[for="fotoAsociado"] {
    font-size: 1rem;
    color: $blanco;
    background-color: #106BA0;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: .5rem 2.5rem !important;
    width: fit-content;
    text-align: center;
    border-radius: .25rem;
}

/* =============================================
X. Medias Queries
============================================= */
/* --------------Vista Sm ------------- */
@media (min-width: 576px) {
    .titulo {
        font-size: 3rem;
    }
    
    .resaltado {
        font-size: 3rem;
    }

}

/* --------------Vista Md ------------- */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    
    #inicio{
        .cuadro{
            margin-top: 2rem;
            width: 25rem;
        }
        .fundacion{
            margin-top: 4rem;
            margin-bottom: 2rem;
            width: 39rem;
        }
    }

    footer{
        
        .direccion{
            display: flex;
            justify-content: center;
            padding-right: 0;
        }

        .mapa{
            display: flex;
            justify-content: center;
            padding-right: 5rem;
        }

        .google-maps{            
            width: 340px;
            height: 200px;
            padding-left: 4rem;
        }
    }

}

/* --------------Vista Lg ------------- */
@media (min-width: 992px) {
    #inicio {
        .navbar-dark .navbar-nav .nav-link {
            font-size: 1.5rem;
        }

        /*Botón del menú*/
        .boton-menu:before {
            font-size: 4rem;
        }

        .icono-cerrar:before {
            font-size: 4rem;
        }

        .fundacion, 
        .cuadro {
            margin-top: 13rem;
        }  

        .logodono {
            width: 10rem;
        }

        /*Redes sociales header*/
        .redes {
            display: flex;
        }

        .fab {
            padding: 0 .4rem;
            font-size: 1.9rem;
        }        
    }
    
    .contenido {
        max-width: 100%;
    }

    footer {
        background-image: url('../images/footer.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $azul;

        .direccion {
            padding-top: 6rem;
            padding-left: 1.5rem;
        }

        .yodono {
            width: 14rem;
        }
        .google-maps{            
            width: 200px;
            height: 180px;
            padding-right: 0;
            padding-left: 0;
        }
    }

    /*Redes sociales footer*/
    .redes-footer {
        text-align: right;
    }

    .iconos {
        font-size: 2.5rem;
        padding: 0 .6rem;
    }

}

/* --------------Vista Xl ------------- */
@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }

    #inicio {
        .navbar-dark .navbar-nav .nav-link {
            font-size: .9rem;
        }
        background-image: url('../images/header.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;

        /*Redes sociales header*/
        .redes {
            display: flex;
            justify-content: end;
            padding-left: 3.5rem;
        }

        .fab {
            padding: 0;
            font-size: 1.7rem;
        }
        .encabezado,
        .resaltado-inicio{
            font-size: 1.5rem;
        }
    }
    .barra-navegacion{
        background-image: url('../images/plecaheader.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
       
       

    }
    footer {
        .direccion {
            padding-top: 7rem;
            padding-left: 4rem;
        }

        .yodono {
            width: 12rem;
        }
        .iconos {
            font-size: 1.9rem;
        }
    }
}

/* --------------Vista xxl ------------- */
@media (min-width: 1400px) {
    #inicio {
        .navbar-dark .navbar-nav .nav-link {
            font-size: 1rem;
        }
        .fundacion,
        .cuadro{
            margin-top: 15rem;
        }
    }

    footer{
        .google-maps{            
            width: 250px;
            height: 180px;
            padding-right: 0;
        }
    }
}

/* --------------Vista para pantallas mayores ------------- */
@media (min-width: 1730px) {
    .barra-navegacion{
        background-size: cover;
    }
    .mt-xxl-6{
        margin-top: 2.5rem !important;
    }
}