@charset "UTF-8";
/*------------------------------
1. TIPOGRAFIA DEL SITIO
--------------------------------*/
@font-face {
  font-family: "Comics Sans";
  src: url(../fonts/ComicSansMSBold.ttf);
}
@font-face {
  font-family: "AvantGardeStd";
  src: url(../fonts/ITCAvantGardeStd-Md.otf);
}
html {
  font-size: 14px;
}

body {
  font-family: 'AvantGardeStd';
}

/*------------------------------
2. ESTILOS GENERALES
--------------------------------*/
/*===========Paleta de colores=========*/
section,
main,
footer {
  background-color: #70DDE2;
  padding-top: 2rem;
}

.titulo {
  font-weight: 700;
  font-family: 'Comics Sans';
  color: #fff;
  font-size: 1.7rem;
}

.resaltado {
  color: #4D4D4D;
  font-size: 2rem;
}

.resaltado-inicio {
  color: #4D4D4D;
  font-size: 1.75rem;
}

.subtitulo {
  color: #fff;
  font-family: 'Comics Sans';
}

.centrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenido {
  max-width: 30%;
}

/*------------------------------
3. INICIO
--------------------------------*/
#inicio {
  /*Botón del menú*/
  /*Estilos al menú de navegación*/
  /*Redes sociales*/
}
#inicio .logo {
  margin-top: -2rem;
  margin-bottom: 0rem;
  width: 12rem;
  margin-left: 5rem;
}
#inicio .logoTalento {
  margin-top: 0;
  margin-bottom: 0rem;
  width: 9rem;
  margin-left: 2rem;
}
#inicio .boton-menu:before {
  content: '\f142';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #fff;
  font-size: 4rem;
}
#inicio .icono-cerrar:before {
  content: '\f00d';
  position: relative;
  font-size: 4rem;
}
#inicio .navbar-dark .navbar-nav .nav-link {
  font-size: 1.5rem;
  text-transform: capitalize;
}
#inicio .logodono {
  width: 11rem;
}
#inicio .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#inicio .fab {
  color: #fff;
  font-size: 2.3rem;
  padding: 0 .6rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
#inicio .fab:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#inicio .cuadro {
  margin-top: 4rem;
}
#inicio .fundacion {
  margin-bottom: 4rem;
  margin-top: 4rem;
}
#inicio .encabezado {
  color: #fff;
}
#inicio .registro-enlace {
  color: #FFFF00;
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 2rem;
  font-weight: 500;
}

/*Barra del menu de navegacion*/
.barra-navegacion {
  background-color: #F900BF;
}

.transparente {
  background-color: transparent !important;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  /*&:hover{
      background-color: rgb(252,40,153) !important;
  }*/
}

.navbar-nav {
  text-align: center;
}

/*------------------------------
4. FOOTER
--------------------------------*/
footer {
  background-color: #E4C500;
  color: #4D3C00;
}
footer .direccion {
  padding-top: 0;
}
footer .yodono {
  width: 14rem;
  margin-bottom: 1rem;
}
footer .politicas {
  color: #4D3C00;
  text-decoration: none;
}

/*Redes sociales*/
.redes-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconos {
  color: #4D3C00;
  font-size: 2.3rem;
  padding: 0 .6rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.iconos:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*------------------------------
5. FORMULARIO DE CONTACTO
--------------------------------*/

/*Estilos para los botones de subir archivo (para las fotos) */
input[type="file"]#asociado,
input[type="file"]#fotoAsociado,
input[type="file"]#video {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for="asociado"],
label[for="fotoAsociado"],
label[for="video"] {
  font-size: 1rem;
  color: #fff;
  background-color: #106BA0;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  padding: .5rem 2.5rem !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  border-radius: .25rem;
}
/*------------------------------
6. PAGINAS INTERNAS
--------------------------------*/
.talentoDown {
  width: 15rem;
  margin-top: 3rem;
}
.chocho{
  width: 17rem;
  height: 10rem;
}

/* =============================================
X. Medias Queries
============================================= */
/* --------------Vista Sm ------------- */
@media (min-width: 576px) {
  .titulo {
    font-size: 3rem;
  }

  .resaltado {
    font-size: 3rem;
  }
}
/* --------------Vista Md ------------- */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  #inicio .cuadro {
    margin-top: 2rem;
    width: 25rem;
  }
  #inicio .fundacion {
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 39rem;
  }

  footer .direccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
  footer .mapa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 5rem;
  }
  footer .google-maps {
    width: 340px;
    height: 200px;
    padding-left: 4rem;
  }
}
/* --------------Vista Lg ------------- */
@media (min-width: 992px) {
  #inicio {
    /*Botón del menú*/
    /*Redes sociales header*/
  }
  #inicio .navbar-dark .navbar-nav .nav-link {
    font-size: 1.5rem;
  }
  #inicio .boton-menu:before {
    font-size: 4rem;
  }
  #inicio .icono-cerrar:before {
    font-size: 4rem;
  }
  #inicio .fundacion,
  #inicio .cuadro {
    margin-top: 13rem;
  }
  #inicio .logodono {
    width: 10rem;
  }
  #inicio .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #inicio .fab {
    padding: 0 .4rem;
    font-size: 1.9rem;
  }

  .contenido {
    max-width: 100%;
  }

  footer {
    background-image: url("../images/footer.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #70DDE2;
  }
  footer .direccion {
    padding-top: 6rem;
    padding-left: 1.5rem;
  }
  footer .yodono {
    width: 14rem;
  }
  footer .google-maps {
    width: 200px;
    height: 180px;
    padding-right: 0;
    padding-left: 0;
  }

  /*Redes sociales footer*/
  .redes-footer {
    text-align: right;
  }

  .iconos {
    font-size: 2.5rem;
    padding: 0 .6rem;
  }
}
/* --------------Vista Xl ------------- */
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }

  #inicio {
    background-image: url("../images/header.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*Redes sociales header*/
  }
  #inicio .navbar-dark .navbar-nav .nav-link {
    font-size: .9rem;
  }
  #inicio .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-left: 3.5rem;
  }
  #inicio .fab {
    padding: 0;
    font-size: 1.7rem;
  }
  #inicio .encabezado,
  #inicio .resaltado-inicio {
    font-size: 1.5rem;
  }
  #inicio .logo{
    width: 9rem;
    margin-left: 0;
  }
  #inicio .logoTalento{
    width: 8rem;
  }

  .barra-navegacion {
    background-image: url("../images/plecaheader1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  footer .direccion {
    padding-top: 7rem;
    padding-left: 4rem;
  }
  footer .yodono {
    width: 12rem;
  }
  footer .iconos {
    font-size: 1.9rem;
  }
  .talentoDown{
    margin-top: 0;
  }
 
}
/* --------------Vista xxl ------------- */
@media (min-width: 1400px) {
  #inicio .navbar-dark .navbar-nav .nav-link {
    font-size: 1rem;
  }
  #inicio .fundacion,
  #inicio .cuadro {
    margin-top: 15rem;
  }

  footer .google-maps {
    width: 250px;
    height: 180px;
    padding-right: 0;
  }
}
/* --------------Vista para pantallas mayores ------------- */
@media (min-width: 1540px) {
  .barra-navegacion {
    background-size: cover;
  }

  .mt-xxl-6 {
    margin-top: 2.5rem !important;
  }
}
